.env
/.tox/
*.pyc
*#
*~
*.swp
#*
local_settings.py
local_test_settings.py
slackbot_settings.py
!tests/functional/slackbot_settings.py
slackbot_test_settings.py
/build
/dist
/*.egg-info
.cache
/.vscode/
